<!DOCTYPE html>
<html>
  <head>
    <title>scooter payment test</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/m3Ac1i3.png" alt="scooter" />
        <div class="description">
          <h3>scooter hehehe</h3>
          <h5>£10.00</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>