#map {
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 97;
}

.nav-item a {
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-link {
    border-radius: 0 !important;
}

#loading_screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
}
#loading_screen {
    z-index: 100;
}

.qrcenter {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

@media (max-width: 800PX) {
    .qrcenter {
        width: 100%;
        position: absolute;
    }
}

.center {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#btn{
    display: none;
}

@media screen and (max-width: 575px) {
    #btn{
        display: inline-block;
        box-shadow: none !important;
    }
    #list {
        list-style-type: none !important;
        position: absolute;
        z-index: 100 !important;
        width: 50%;
        top: 145px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.form-group:not(:last-child) {
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    margin-bottom: 3px
}