<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="map.js"></script>
        <link rel="stylesheet" href="styles.css">
        <title>Map</title>
    </head>
    <body>

        <h1 id = "header1">Maps</h1>
        <p id="p1">Available Scooters:</p>
        <p id="p2">TEST</p>
        <p id="p3"></p>

        <div id = "map"></div>

            <!-- https://www.w3schools.com/html/html5_geolocation.asp -->
            

                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB344Weh66EBaK4-2hY47OUeZ3et8-adls&callback=initMap"></script>
                


                <p id = "icon_ref">"Scooter icon made by Freepik from <a src="www.flaticon.com">www.flaticon.com</a>"</p>

    </body>
</html>