{% extends "dashboard_sidebar.html" %}
{% block main_content %}



<div id="map"></div>



{% include 'map_script.html' %}


<div id="loading_screen">
    {% include 'loading.html' %}
</div>

<script>
    $(window).on('load', function () {
        setTimeout(function () {
            $('#loading_screen').remove();
        }, 1000);
    });
</script>

<form id="not_available_times_form" method="POST" hidden>
    {{ not_available_times_form.hidden_tag() }}
    {{ not_available_times_form.pickup_date() }}
    {{ not_available_times_form.pickup_parking_id(type="number") }}
</form>

<script src="{{ url_for('static', filename='dynamic_select.js') }}" ></script>

{% endblock %}