{% extends "base.html" %}
{% block content %}

<div class="qrcenter">
    <h2>Scan the scooters</h2>
    <video id="qr-video" style="width: 100%;"></video>
    <form id="qr_code_form" method="post" action="" hidden>
        <input id="qr_result" name="qr_result" type="text" hidden>
    </form>
</div>

<script type="module">
    import QrScanner from "{{url_for('static', filename='qr-scanner.min.js')}}";
    const video = document.getElementById('qr-video');

    var QrMessage;

    function setResult(result) {
        QrMessage = Number(result.data); // this assumes we are only getting numbers
        console.log(QrMessage);

        document.getElementById("qr_result").value = result.data;
        document.getElementById("qr_code_form").action = window.location.href;
        document.getElementById("qr_code_form").submit();

        if(QrMessage != undefined){
            scanner.stop();
        }
    }

    // ####### Web Cam Scanning #######
    const scanner = new QrScanner(video, result => setResult(result), {
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });

    scanner.start();
</script>

{% endblock %}