<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../static/index.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- BUTTONS TO HIDE OR VICE VERSA -->
    <button id="showContent">Показать</button>
    <button id="hideContent">Скрыть</button>


        <!-- Full -->
        <div id="container" style="display: -moz-inline-block;">

             <div class="item" id="position1">
                    <canvas id = "canvas_plot2" width="300" height="300"> </canvas>
                </div>

                <div class="item" id="position2">
                    <canvas id = "canvas_plot" width="300" height="300"> </canvas>
                </div>

                 <div class="item" id="position3">
                    <canvas id = "canvas_plot4" width="300" height="300"> </canvas>
                </div>

                <div class="item" id="position4">
                    <canvas id = "canvas_plot" width="300" height="300"> </canvas>
            </div>



        </div>

     <!-- Part 1 -->
            <div class="container2" style="display: none;">

                <div class="item" id="position1">
                    <canvas id = "canvas_plot2" width="300" height="300"> </canvas>
                </div>

                 <div class="item" id="position2">
                    <canvas id = "canvas_plot3" width="300" height="300"> </canvas>
                </div>

            </div>


    <script src="../static/Income2.js"></script>
    </body>
</html>