<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/test.css" rel="stylesheet">


</head>
//onload calls a function when the page is loaded.initialise data on page
<body onload="onload_request_data()">










<button  id="showContent">Показать</button>
<button  id="hideContent">Показать</button>

        <div id="content" style="display:none;">Содержание,
            которое скрыто по-умолчанию.
            Покажется/скроется при клике на соответствующие кнопки.</div>

     <div id="item"><canvas id = "canvas_plot" width="300" height="300"> </canvas></div>


<!--
<script>
    document.getElementById("hideContent").addEventListener("click", myFunction2);
    document.getElementById("showContent").addEventListener("click", myFunction);
    let a = document.getElementById('showContent');
    let b = document.getElementById('hideContent');
function myFunction() {
  //alert ("Hello World!");
  a.disabled = true;
  b.disabled = false;
}
function myFunction2() {
  //alert ("Hello World!");
  b.disabled = true;
  a.disabled = false;
}

</script>







<style>
#canvas_plot{
    margin: auto;
    background-color: cadetblue;
}
</style>
-->




<p id="parag">Hello world!</p>
<button onclick="request_data()">Request data for parag</button>
<button onclick="request_data2()">Request data for parag</button>

<script>

let a;



function onload_request_data(){
    $.post("/request", function (data){
        a = data
        document.getElementById("parag").innerText = "10"

    })
}


function request_data(){
    // $.post('path', function to run when success)
    $.post("/request2", function (data){
        a = data
        document.getElementById("parag").innerText = a

    })
}



function request_data2(){
    // $.post('path', function to run when success)
    $.post("/request", function (data){
        a = data
        document.getElementById("parag").innerText = a

    })
}




</script>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/index.js"></script>

</body>
</html>